.features {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.features-heading {
  flex: 1;
  margin-right: 5rem;
}

.features-heading h2 {
  font-family: var(--font-family);
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
}

.features-heading p {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 30x;
  color: var(--color-subtext);

  margin-top: 2rem;
}

.features-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 990px) {
  .features {
    flex-direction: column;
  }

  .features-heading {
    margin-bottom: 2rem;
  }

  .features-container {
    align-items: flex-start;
  }

  .features-container .features-container__feature {
    margin-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .features-heading h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .features-heading p {
    font-size: 14px;
  }
}
